@tailwind base;
@tailwind components;
@tailwind utilities;


input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input[type=date]::-webkit-datetime-edit {
    color: #999;
}


.rdp-root {
  --rdp-accent-color: black !important; /* Change the accent color to indigo. */
  position: absolute !important;
  z-index: 1000 !important;
}